---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Real-Time Translation",
    description:
      "Instantly translate content from English to Vietnamese, making information accessible to everyone.",
    icon: "bx:planet",
  },
  {
    title: "Website Crawling",
    description:
      "Gather and store content from your favorite websites for easy research and reference.",
    icon: "bx:link-external",
  },
  {
    title: "Text Summarization",
    description:
      "Quickly condense lengthy texts into key points, helping you grasp essential information.",
    icon: "bx:book-open",
  },
  {
    title: "Text-to-Speech",
    description:
      "Listen to text content naturally, allowing for flexible learning anytime, anywhere.",
    icon: "bx:volume-full",
  },
  {
    title: "Interactive Chatbot",
    description:
      "Engage with an AI chatbot for assistance and deeper understanding of your materials.",
    icon: "bx:chat",
  },
  {
    title: "Support 24/7",
    description:
      "Get help and guidance from our team of experts around the clock for a seamless experience.",
    icon: "bx:group",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need for Effective Learning
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our application is equipped with powerful features to enhance your educational experience.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
